services:
  docs-strapi:
    image: node:20-alpine
    container_name: docs-strapi
    working_dir: /data/app/docs-strapi
    environment:
      NODE_ENV: production
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: example
    ports:
      - "1337:1337"
    volumes:
      - ./:/data/app/docs-strapi
    command:
      - sh
      - -lc
      - |
        corepack enable
        cd /data/app/docs-strapi
        npm run start
    restart: unless-stopped
